body {
    background-color: black;
    color: white;
    font-family: 'STIX Two Text', serif;
    max-width: 768px;
    margin: 0 auto;
    
}

.bingo-container {
 background-color: orange;
 color:black;
 width: 90%;
 


}

.number {
display: inline-block;
width: 10%;
text-align: center;
font-size: x-large;
font-weight: bold;
border-style: solid;
border-color: black;
margin: 3px;
padding-top: 35px;
}

